.portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  padding-top: 1rem;
  margin-top: 5rem;

}

/* heading */
.portfolio-head {
  margin-left: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.portfolio-head span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio-head span:nth-of-type(2) {
  color: #07145add;
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper{
    /* overflow: visible!important; */
    overflow: hidden;
}

.portfolio-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 5rem;
  width: 60%;
  height: 80vh;
  border-radius: 50rem;
}

.portfolio-slider .swiper-slide {
  align-items: center;
  width: 10rem;
  padding: 5rem;
}
.portfolio img {
  width: 14rem;
  height: 10rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.13));
  border-radius: .5rem;
}

