.card {
  width: 11.5rem;
  height: 10rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 2;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fdfdff8e;
  border: 4px solid var(--blueCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 5px 18px 25px 1rem;
}

.card span:nth-of-type(1){
  font-family: 'papyrus';
  font-size: .9rem;
  z-index: -1;
}

.card span:nth-of-type(2) {
  color: var(--gray);
  font-size: 16px;
  z-index: -1;
}

@media screen and (max-width: 1000px){
  .card {
    width: 9rem;
    height: 8rem;
  }
}

@media screen and (max-width: 600px){
  .card{
    width: 8.5rem;
    height: 7rem;
    position: absolute;
    padding: .8rem;
  }
}