.contact-form{
    padding: 3rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    height: 80vh;
    margin-top: 4rem;
      /* scroll */
    padding-top: 2rem;
}

/* .left {
    display: flex;
    position: relative;
    margin-right: 7rem;
} */

.info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  position: relative;
  gap: 0.1rem;
  margin-right: 5rem;
}

.info > :nth-child(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.info > :nth-child(2) {
    color: #07145add;
    font-size: 2.5rem;
    font-weight: bold;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    margin-right: 1.2rem;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.c-right .user{
    width: 25rem;
    height: 1.7rem;
    padding: 0.7em;
    outline: none;
    border: 2px solid #030f53;
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}

@media screen and (max-width: 600px) {
    .contact-form{
        margin-top: 7rem;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user{
        width: 16rem;
    }

}   