.works {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 2rem;
  background:rgba(224, 224, 225, 0.795);
}
/* left side */
/* .awesome {
  display: flex;
  position: relative;
} */

.w-left{
  padding-top: 8rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.w-left > :nth-child(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.w-left > :nth-child(2) {
  color: #07145add;
  font-size: 2.5rem;
  font-weight: bold;
}
/* .awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 16px;
  margin-top: 1rem;
}
.s-button {
  width: 8rem;
  height: 2.2rem;
  margin-top: 4rem;
} */

/* right side */
.w-right {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  padding-bottom: 4rem;
  margin:1rem;
}

.div {
  position: relative;
  border-radius: 1rem;
  border: transparent;
  background: #fdfdff8e;
  box-shadow: var(--boxShadow);
  margin: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
}

.div:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;

}

.div h2 {
  font-family: 'Courier New';
}

p {
  color: var(--gray);
  font-size: .8rem;
}

a p {
  color:#f5b157;
}

a p:hover {
  cursor: pointer;
  margin-left: 1rem;
  text-decoration: underline;
  transform: scale(1.002);
  transition: .7s ease-in-out;
}

/* .w-mainCircle {
  left: 7rem;
  position: relative;
  width: 16rem;
  height: 16rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  background: white;
  darkMode
  z-index: 2;
}
.w-mainCircle > * {
  position: absolute;
}
.w-mainCircle > :nth-child(1) {
  top: -3rem;
  left: 6rem;
}
.w-mainCircle > :nth-child(2) {
  left: -3rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(3) {
  left: 6rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(4) {
  left: 15rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(5) {
  left: 6rem;
  top: 13rem;
}
.w-secCircle {
  width: 4rem;
  height: 4rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: "none";
  box-shadow: var(--smboxShadow);
  background: white;
}

.w-secCircle > img {
  transform: scale(0.4);
}

.w-backCircle {
  position: absolute;
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  darkMode
  z-index: 1;
}
.blueCircle {
  background: #1949b8;
  left: 15rem;
  top: 3rem;
}
.yellowCircle {
  background: #f5c32c;
  left: 18rem;
  top: 8rem;
} */

@media screen and (max-width: 600px) {
  .works {
    flex-direction: column;
    height: inherit;
    padding: 0;
    gap: 5rem;
  }

  .w-left{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .w-left > :nth-child(1) {
    text-align: left;
  }

  .w-right {
    display: flex;
    margin-top: 0;
    /* align-items: center;
    justify-content:c; */
    /* transform: scale(0.7); */
  }

  .div {
    width: 100%;
    height: 40vh;
  }
  /* .w-mainCircle{
    position: static;
  }
  .w-backCircle{
    left: 8rem!important;
  } */

}
