.works {
  background: url('../../img/laptop-g8bd49b87b_1920.jpg');
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 12rem;
  overflow: hidden;
  /* position: relative; */
  z-index: 1;
  /* background:rgba(224, 224, 225, 0.74); */
}

.works::after{
  content: '';
  position: absolute;
  left: 0;
  top: 224%;
  height: 147%;
  width: 100%;
  background: rgba(40, 40, 40, 0.765);
  opacity: 0.7;
  z-index: 1;
}

.w-left{
  padding-top: 8rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.w-left > :nth-child(1) {
  color: white;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.w-left > :nth-child(2) {
  color: #07145add;
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 1;
}


/* right side */
.w-right {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 2rem;
  margin: 2rem;
  z-index: 2;
}

.div {
  position: relative;
  border-radius: .3rem;
  border: transparent;
  background: #f6f6f67e;
  box-shadow: var(--boxShadow);
  margin: 1.3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: left;
  height: 60vh;
  width: 24vw;
}

.div:hover {
  background: rgba(58, 58, 110, 0.128);
  
}

.div h2 {
  font-family: 'papyrus';
  font-weight: 300;
  margin-top:0 ;
}

p {
  color: rgb(94, 93, 93);
  display: flex;
  flex-wrap: wrap;
  font-size: .8rem;
}

a p {
  color:#f5b157;
}

a p:hover {
  cursor: pointer;
  margin-left: 1rem;
  text-decoration: underline;
  transform: scale(1.002);
  transition: .7s ease-in-out;
}


@media screen and (max-width: 600px) {
  .works {
    background: rgba(224, 224, 225, 0.74);
    flex-direction: column;
    height: inherit;
    padding:0 ;
    gap: 1rem;
  }

  .works::after{
    display: none;
  }

  .w-left{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .w-left > :nth-child(1) {
    text-align: left;
  }

  .w-right {
    margin-top: 0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: -8%;
  }

  .div {
    width: 100%;
    height: 40vh;
  }
}
