.works {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
  padding-bottom: 6rem;
  overflow: hidden;
  z-index: 1;
  background:rgba(224, 224, 225, 0.74);
}

.w-left{
  padding-top: 8rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.w-left > :nth-child(1) {
  font-size: 1.9rem;
  /* font-weight: bold; */
  text-align: center;
}

.w-left > :nth-child(2) {
  color: #07145add;
  font-size: 2.4rem;
  font-weight: bold;
}


/* right side */
.w-right {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
  margin: 2rem;
}

.div {
  position: relative;
  border-radius: .3rem;
  border: transparent;
  background: #f6f6f696;
  box-shadow: var(--boxShadow);
  margin: 1.3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: left;
  height: 47vh;
  width: 21vw;
}

.div:hover {
  background:  #030f5384;
  opacity: .5;
  transition: .9 ease-in-out;
}

.div:hover a p {
  display: block;
 
}

.div h2 {
  font-family: 'papyrus';
  font-weight: 300;
  margin-top:0 ;
}

p {
  height: 25px;
  color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  font-size: .8rem;
  z-index: -1;
}

a p {
  display: none;
  color:#f5b157;
  z-index: 1;
  font-size: 2rem;
  margin-right: 1rem;
  text-align: center;

}

a p:hover {
  cursor: pointer;
  /* text-decoration: underline;
  transform: scale(1.002); */
  transition: .7s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .w-left{
   margin-right: 0;
   margin-left: 2rem;
  }
  .w-right {
    left: -9%;
  }
  .div {
    width: 70%;
    height: 40vh;
  }
}


@media screen and (max-width: 900px) {
  .works {
    background: rgba(224, 224, 225, 0.74);
    flex-direction: column;
    height: inherit;
    padding:0 ;
    gap: .2rem;
  }

  .works::after{
    display: none;
  }

  .w-left{
    padding-top: 5rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .w-left > :nth-child(1) {
    text-align: left;
    color: black;
  }

  .w-right {
    margin-top: 0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -3%;
  }

  /* .div {
    width: 70%;
    height: 40vh;
  } */
}

@media screen and (max-width: 700px) {
  .w-left{
    margin-right: 2rem;
  }

  .w-right {
    left: -5%;
  }

  .div {
    width: 100%;
    height: 40vh;
  }
}


@media screen and (max-width: 550px) {
  .w-left{
   margin-right: 0;
   margin-left: 2rem;
  }
  .w-right {
    left: -9%;
  }
}
