.works {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
  padding-bottom: 6rem;
  overflow: hidden;
  z-index: -1;
  /* background:rgba(224, 224, 225, 0.74); */
  background: url('../../img/portfolioBG.png');
}


.w-left{
  padding-top: 8rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.w-left > :nth-child(1) {
  color: var(--blackBlue);
  font-size: 1.9rem;
  text-align: center;
}

.w-left > :nth-child(2) {
  color: var(--blue);
  font-size: 2.4rem;
  font-weight: bold;
}


/* right side */
.w-right {
  position: relative;
  display: grid;
  gap: 20;
  grid-template-columns: auto auto auto;
  margin-top: .5rem;
  padding-bottom: 2rem;
  margin: 1rem auto; 
}

@media screen and (max-width: 1220px) {
  .works {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 135vh;
    padding-bottom: 6rem;
  }
  .w-left{
   margin-right: 0;
   margin-left: 2rem;
  }
 
}

@media screen and (mac-width:1100px){
  .w-right {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 900px) {
  .works {
    background: rgba(224, 224, 225, 0.74);
    flex-direction: column;
    height: inherit;
    padding:0 ;
    gap: .1rem;
  }
  .w-left{
    padding-top: 5rem;
    margin-right: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  .w-left > :nth-child(1) {
    text-align: left;
    color: black;
  }
  .w-right {
   grid-template-columns: auto auto ;
  }
  
}

@media screen and (max-width: 700px) {
  .w-left{
    margin-right: 2rem;
  }
  .w-right {
    grid-template-columns: auto ;
  }

}


@media screen and (max-width: 550px) {
  .w-left{
   margin-right: 0;
   margin-left: .7rem;
  }

}

@media screen and (max-width: 500px) {
  .w-left{
   margin-right: 0;
   margin-left: 1.8rem;
  }
}




/* -------------------- */

.work-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 1rem;
  box-shadow: var(--boxShadow);
  padding: 20px;
  overflow: hidden;
  z-index: 2;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 2;
}

.work-content .work-heading {
  color: #020b3f;
  font-family: 'papyrus';
  font-weight: 700;
  font-size: 1rem;
}

.work-content .para {
  color: var(--gray);
  line-height: 1.3;
  font-size: 16px;
  z-index: 2;
}

.work-content .work-btn {
  color: var(--yellow);
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
}

.work-content .work-btn:before {
  background-color: var(--yellow);
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.work-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, #010147bf,#020b3fc6,#9e3452c7 100% );
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.work-card:hover::before {
  height: 100%;
}

.work-card:hover {
  box-shadow: none;
  cursor: pointer;
}

.work-card:hover .work-heading {
  color: #e8e8e8;
}

.work-card:hover .work-btn:before{
  width: 2rem;
}

.work-content .work-btn:active {
  box-shadow: none;
}
