.Intro {
  display: flex;
  justify-content: space-around;
  height: 90vh;
  background-position: top center;
  background-image: linear-gradient(to right,#012047,#020b3f,#9e3452f1,#fe346deb);
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.Intro::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(40, 40, 40, 0.918);
  opacity: 0.5;
  z-index: -1;
}

/* left side styling */
.i-left {
  display: flex;
  justify-content: space-around;
  align-items: left;
  position: relative;
  flex-direction: column;
  margin: 2rem;
  padding-left: 3rem;
  gap: 1rem;
}
.i-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin-top: 2rem;
  gap: 0.1rem;
}

.i-name span {
  animation: text_reveal .5s ease forwards;
}

.i-name > :nth-child(1) {
  opacity: 0;
  color:white;
  font-weight: bold;
  font-family: 'Courier New';
  font-size: 1rem;
}
.i-name > :nth-child(2) {
  opacity: 0;
  color: #f189bd5b;
  font-weight: lighter;
  font-family: 'Courier New';
  letter-spacing: .2rem;
  font-size:3rem;
}
.i-name > :nth-child(3) {
  opacity: 0;
  font-weight: 100;
  font-size: 16px;
  color: white;
  margin-top: 8px;
  margin-left: 5px;
  align-items: center;
  text-align: left;
  white-space: wrap;
}

.i-button {
  width: 45%;
  color:  #f5b157e3;
  margin-top: 1rem;
  /* margin-right: .2rem; */
  font-family: 'papyrus' ;
}

.i-button:hover {
  cursor: pointer;
}

.i-icons {
  margin-top: .3rem;
  margin-left: .5rem;
  display: flex;
  justify-content: left;
  gap: 3rem;
}

.i-icons a {
  color: #e57fb25b;
}
.i-icons > * {
  transform: scale(1.5);
}
.i-icons > *:hover {
  cursor: pointer;
  transform: scale(1.4);
}

/* right side styling */
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}

.container {
  z-index: -1;
  position: absolute;
  background-color: transparent;
  display: flex;
  margin: 3rem;
  height: 100vh;
}

.circles {
  z-index: -1;
  position:relative ;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #ee96c037;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.256);
}

@media screen and (max-width: 600px) {
  .Intro {
    flex-direction: column;
    gap: 7rem;
    height: 35rem;
  }
  .i-left {
    padding-left: 0;
  }
  .i-right {
    transform: scale(0.6);
    left: 3rem;
    top: -5rem;
  }
}

@keyframes text_reveal {
  from { opacity: 0 }
  to { opacity: 1 }
}