.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: .5rem;
  height: 50vh;
  background-image: linear-gradient(to right, #030f53, #fe346e);
}

.footer::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(40, 40, 40, 0.797);
  opacity: 0.4;
  z-index: 1;
}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  gap: 2rem;
  color: white;
}

.f-content span {
  z-index: 2;
}

.f-icons {
  display: flex;
  gap: 1.5rem;
  z-index: 2;
}

@media screen and (max-width: 600px){
  .footer {
    height: 30vh;
    margin: -0.5rem -3.5rem;
    margin-top: -7rem;
  }
  .f-content{
    transform: scale(.8);
  }
  
  .f-content span {
    z-index: 2;
  }
  
  .f-icons {
    z-index: 2;
  }
}
