.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 50vh;
  padding-bottom:4rem;
  margin-top: 1rem;
  padding-top: 4rem;
  margin: 0 -3rem;
  /* darkmode */
  color: var(--black);
  overflow: hidden;
}
.achievement{
    display: flex;
    flex-direction: column;    
    align-items: center;
    z-index: -1;
}
.circle {
    width: 5rem;
    height: 5rem;
    border-radius: 30%;
    border: 2px solid #030f53 ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    z-index: 2;
}
.circle > h3 {
   font-size: 2rem;
    top: -58px;
    bottom: -5px;
    right: -5px;
    position: absolute;
    z-index: 1;
    color: #87034c77;
}

.achievement span{
    font-size: .95rem;
    font-family: 'papyrus';
    color: var(--orange);
}


@media screen and (max-width: 600px) {
    .experience{
        transform: scale(0.7);
    }
}