.toggle{
    display: flex;
    justify-content:center;
    border: 3px solid #071566ce;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>*{
    width: .8rem;
    height: .8rem;
    color: #071566ce;
}

.t-button{
    border-radius: 100%;
    background: #071566ce;
    position: absolute;
}
