:root
{
  --yellow: #20366b;
    --orange : #130852;
    --black : #1b2236;
    --gray : #8a8b8e;
    --blueCard : #fdc1df72;
    --purple: #ffe79a;
    --boxShadow : 0px 19px 60px rgba(0, 0, 0, 0.096);
    --orangeCard: #ef5a5a;
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    overflow: hidden;
    color: var(--black);    
}

.button:hover {
  cursor: pointer;
}
  
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 0;
    }
  }

  

  